html, body {
  height: 100%;
}

* {
    box-sizing: border-box;
}
  
body {
    background-image: url(./assets/content.svg);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
  
  
header {
    background-image: url(./assets/background.svg);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.perflip {
    margin: auto;
    position: relative;
    width: 150px;
    height: 150px;
}

.perflip:hover .flip {
    transform: rotateY(180deg);
}


.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.front,.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

p {
    margin: 0;
}

main {
    flex: 1 0 auto;
    justify-content: center;
    width: 100%;
    gap: 200px;
    padding: 0px 0px 0px 0px;
    margin: auto;
    text-align: center;
}

label {
    cursor: pointer;
    border-left: 3px solid #804515;
    color: #000000;
    align-items: center;
    text-decoration: none;
    padding: 0px 10px 0px 5px;
    font-size: 20pt;
    position: relative;
}


label::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-image: linear-gradient(to right, #804515, #552600);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

label:hover::after{
    width: 100%;
}

nav {
    padding-top: 4px;
    padding-bottom: 4px;
    background: #D49A6A;    
}

#geral {
    width: 50%;
    margin: auto;
    color: black;
    padding-top: 4px;
    border-radius: 10px;
    background-image: linear-gradient(90deg,#804515, #552600)
}    

#about {
    background-color: #AA6C39;
    width: 100% !important;
    margin: auto;
    padding: 32px;
    border-radius: 10px;
}

#projects {
    width: 100% !important;
    margin: auto;
    background-color: #2a2634;
    padding: 32px;
    border-radius: 10px;
    padding-top: 4px;
}

#certificates {
    background-color: #AA6C39;
    width: 100% !important;
    margin: auto;
    padding: 32px;
    border-radius: 10px;
}

#certificates ul {
    display: flex;
    width: 100%;
    height: 100%;
}

#certificates img {
    width: 150px;
    cursor: pointer;
}

#certificates li {
    margin: auto;
    padding: 5px;
}

#geral div {
    width: 50%;
    height: 100%;
    background-color: #AA6C39;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#geral div svg {
    transition: transform .3s;
}

#geral div svg:hover{
    transform: scale(1.1);
}

#geral div img {
    transition: transform .3s;
}

#geral div img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    #geral {
      width: 90%;
      height: 85%;
    }

    #certificates ul {
        display: block;
        overflow: hidden;
        overflow-y: scroll;
    }
}

#geral input[type="radio"]{
    display: none;
}

#geral input[type="radio"]:checked + div {
    background-color: #D49A6A;    
    display: block;
    transition: all 300ms ease;
}

nav {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    padding: 0px;
    list-style: none;
}
  
.profile {
    display: inline-block;
    text-align: center;
}

  
header div img {
    width: 150px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    margin: auto;
    background-image: linear-gradient(90deg, #D49A6A 0%, #804515 50.52%, #552600 100%);
  }


  
.profile h1 {
    font-size: 24px;
    margin: 10px 0 10px;
}
  
.social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    transition: transform .3s;
}
  
.social-icons li {
    display: inline-block;
    margin: 0 10px;
    transition: transform .3s;
}
  
.social-icons a {
    color: #fff;
    font-size: 24px;
}

.social-icons li:hover {
  transform: scale(1.1);
} 
  
#link-1 {
    color: #552600;
}

.projects {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 10px;
}
  
.projects li {
    margin-bottom: 20px;
}

footer {
    background-image: url(./assets/background.svg);
    flex-shrink: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
}

p {
    padding: 5px;
}
  